* {
  margin: 0px;
  padding: 0px;
}
.inpForm input::placeholder{
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  color: #ccc;
}
.link{
  text-decoration: none;
}
.p-des{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}